#boxScore_container {
    position: relative;
    letter-spacing: 1px;
    font-family: Georgia, "Times New Roman", Times, serif;
    padding-top: 20px;
    width: 330px;
    margin: 0 auto;
    float: left;
    clear: left;
}


#gameLeader_container {
    position: relative;
    letter-spacing: 1px;
    font-family: Georgia, "Times New Roman", Times, serif;
    padding-top: 20px;
    width: 330px;
    margin: 0 auto;
    float: right;
}
#standings_container {
    position: relative;
    letter-spacing: 1px;
    font-family: Georgia, "Times New Roman", Times, serif;
    padding-top: 20px;
    width: 330px;
    margin: 0 auto;
    float: right;
    clear: right;
}

.score {
    position: relative;
    font-size: 27px;
    font-weight:bold;
    width: 328px;
    height:100px;
    border: 1px solid #CCCCCC;
}

#bobcatsPlayerOfTheGame_container {
    position: relative;
    letter-spacing: 1px;
    font-family: Georgia, "Times New Roman", Times, serif;
    padding-top: 20px;
    width: 330px;
    margin: 0 auto;
    float: left;
    clear: left;
}

#LinksBelow {
    width: 330px;
    text-align: center;
}


.score p {
    float: left;
    margin-left: 10px;
    clear: left;
}
.score img {
    margin-left: 10px;
    margin-right: 10px;
    height: 35px;
    width: auto;
}
.boxScore {
    position: relative;
    border: 1px solid #CCCCCC;
    border-collapse: collapse;
    width:100%;
}
.boxScore caption {
    font-size:auto;
    font-weight:bold;
    padding-top: 0.6%;
    height:1.5%;
    border: 1px solid #CCCCCC;
}
.boxScore thead {
    border-left: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    font-weight:bold;
}
.boxScore tr {
    background:#CCCCCC;
    font-weight:normal;
}
.boxScore tbody tr:nth-child(odd) {
    background-color: white;
}
.boxScore td {
    border-left: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    padding: 2.15%;
    text-align: left;
}
.boxScore td:first-child {
    text-align: left;
    font-weight:normal;
}
.boxScore td:not(:first-child) {
    text-align: center;
    width: 1.5%;
}
.boxScore th:first-child {
    text-align: left;
    width: 05%;
    font-weight:bold;
}
.boxScore tr:nth-child(6) {
    font-weight:bold;
}
.boxScore th:first-child {
    text-align: left;
    width: 25%;
    font-weight:bold;
}
.gameLeaders {
    position: relative;
    border: 1px solid #CCCCCC;
    border-collapse: collapse;
    width: 330px;
    float: right;
    clear: right;
}
.gameLeaders caption {
    font-size:auto;
    font-weight:bold;
    padding-top: 0.6px;
    height:1.5%;
    border: 1px solid #CCCCCC;
}
.gameLeaders thead {
    border-left: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    font-weight:bold;
}
.gameLeaders tr {
    background:#CCCCCC;
}
.gameLeaders tbody {
    font-size: auto;
}
.gameLeaders thead th:nth-child(3) {
    width: 45.5%;
    text-align: left;
}
.gameLeaders thead th:nth-child(2) {
    width: auto;
}
.gameLeaders tbody td:nth-child(odd) {
    width: 45.5%;
}
.gameLeaders tbody td:nth-child(2) {
    text-align: center;
}
.gameLeaders tbody tr:nth-child(even) {
    background:#CCCCCC;
}
.gameLeaders tbody tr:nth-child(odd) {
    background-color: white;
}
.gameLeaders td {
    border-left: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    padding: 0.15%;
    text-align: left;
    font-weight:normal;
}
.gameLeaders td:first-child {
    text-align: right;
    width: 45.5%;
    font-weight:bold;
}
.gameLeaders th:first-child {
    text-align: right;
    width: 45.5%;
    font-weight:bold;
}

.bobcatsPlayerOfTheGame {
    position: relative;
    border: 1px solid #CCCCCC;
    border-collapse: collapse;
    width: 100%;
    float: left;
}
.bobcatsPlayerOfTheGame caption:first-child {
    font-size: auto;
    font-weight:bold;
    padding-top: 20px;
    height:0.15%;
    border: 1px solid #CCCCCC;
    background-color: #CCCCCC;
}
.bobcatsPlayerOfTheGame caption:not(:first-child) {
    font-size:20px;
    font-weight:bold;
    padding-top: 3%;
    border: 1px solid #CCCCCC;
}
.bobcatsPlayerOfTheGame tbody td:first-child {
    border: 1px solid #CCCCCC;
}
.bobcatsPlayerOfTheGame img {
    width: 100%;
}
.bobcatsPlayerOfTheGame tbody td:not(:first-child) {
    width: 60%;
    border: 1px solid #CCCCCC;
}



#LinksBelow td{
    width:20.5%;
}


/* unvisited link */

#LinksBelow a:link {
    color: #455868;
	 text-decoration: none;
}

/* visited link */

#LinksBelow a:visited {
    color: black;
	  text-decoration: none;
}

/* mouse over link */

#LinksBelow a:hover {
    color: #008B9B;
	text-decoration: underline;
}

/* selected link */

#LinksBelow a:active {
    color: #2D214A;
	text-decoration: underline;
}